.Header{
  background: url(../head.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 20px 0px rgba(25,25,30,0.5);
  margin: 20px;
}
.con{
  padding: 5%;
  box-shadow: 0px 2px 16px 0px rgba(204,204,204,1);
  border-radius: 15px;
  margin-bottom: 20px;
}
p, span{font-family: 'Roboto', sans-serif; color:#323142;}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: #ffb7b7;
}
::selection {
  color: black;
  background: #ffb7b7;
}
.H-top1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10vw;
  text-align: center;
  color: #fff;
  text-shadow: -1px 4px 16px rgba(50,50,50,0.5);
}
.H-g{color:#fff;}
.H-top2{
  letter-spacing: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 13vh;
  color: #ff1744;
  text-shadow: -1px 4px 16px rgba(50,50,50,0.5);
}
.nav-link a{
  color: #ff1744;
}
.nav-link a:hover{
  text-decoration: none;
  text-shadow: -1px 4px 16px rgba(50,50,50,0.3);
  color:black;
}
.comment{
  color: #919191;
}
.topic{
  font-size: 5vw;
  color: #323142;
}
.pricep{width:50%;}
/*               _,........__
            ,-'            "`-.
          ,'                   `-.
        ,'                        \
      ,'                           .
      .'\               ,"".       `
     ._.'|             / |  `       \
     |   |            `-.'  ||       `.
     |   |            '-._,'||       | \
     .`.,'             `..,'.'       , |`-.
     l                       .'`.  _/  |   `.
     `-.._'-   ,          _ _'   -" \  .     `
`."""""'-.`-...,---------','         `. `....__.
.'        `"-..___      __,'\          \  \     \
\_ .          |   `""""'    `.           . \     \
  `.          |              `.          |  .     L
    `.        |`--...________.'.        j   |     |
      `._    .'      |          `.     .|   ,     |
         `--,\       .            `7""' |  ,      |
            ` `      `            /     |  |      |    _,-'"""`-.
             \ `.     .          /      |  '      |  ,'          `.
              \  v.__  .        '       .   \    /| /              \
               \/    `""\"""""""`.       \   \  /.''                |
                `        .        `._ ___,j.  `/ .-       ,---.     |
                ,`-.      \         ."     `.  |/        j     `    |
               /    `.     \       /         \ /         |     /    j
              |       `-.   7-.._ .          |"          '         /
              |          `./_    `|          |            .     _,'
              `.           / `----|          |-............`---'
                \          \      |          |
               ,'           )     `.         |
                7____,,..--'      /          |
                                  `---.__,--.'
*/
.football{
  border: 2px solid lightgrey;
  padding: 10px;
}
@media only screen
and (max-device-width : 480px) {
  .con{box-shadow: 0px 2px 16px 0px rgba(204,204,204,0);}
  .H-top1{
    text-align: center;
    font-size: 22vw;
  }
  .H-g{
    font-size:25vw;
  }
  .H-top2{
    font-size: 10vw;
  }
  .topic{
    font-size: 12vw;
    color: #323142;
  }
}
@media only screen
and (min-device-width : 481px)
and (max-device-width : 980px) {
  .con{box-shadow: 0px 2px 16px 0px rgba(204,204,204,0);}
  .H-top1{
    text-align: center;
    font-size: 20vw;
  }
  .H-g{
    font-size:22vw;
  }
  .H-top2{
    font-size: 8vw;
  }
  .topic{
    font-size: 11vw;
    color: #323142;
  }
}
.birk{
  width: 75%;
}
