body{
  background-color: #fff;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ccc;
  }
}
}
.Header{
  background: url(../img/head.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 20px 0px rgba(25,25,30,0.5);
  margin: 20px;
}
.con{
  padding: 5%;
  box-shadow: 0px 2px 16px 0px rgba(204,204,204,1);
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: white !important;
}
p, span{font-family: 'Roboto', sans-serif; color:#323142;}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: #ffb7b7;
}
::selection {
  color: black;
  background: #ffb7b7;
}
.H-top1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10vw;
  text-align: center;
  color: #fff;
  text-shadow: -1px 4px 16px rgba(50,50,50,0.5);
}
.H-g{color:#fff;}
.H-top2{
  letter-spacing: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 13vh;
  color: #ff1744;
  text-shadow: -1px 4px 16px rgba(50,50,50,0.5);
}
.nav-link a{
  color: #ff1744;
}
.nav-link a:hover{
  text-decoration: none;
  text-shadow: -1px 3px 10px rgba(50,50,50,0.2);
  color:black;
}
.comment{
  color: #919191;
}
.topic{
  font-size: 5vw;
  color: #323142;
}
.pricep{width:50%;}
/*               _,........__
            ,-'            "`-.
          ,'                   `-.
        ,'                        \
      ,'                           .
      .'\               ,"".       `
     ._.'|             / |  `       \
     |   |            `-.'  ||       `.
     |   |            '-._,'||       | \
     .`.,'             `..,'.'       , |`-.
     l                       .'`.  _/  |   `.
     `-.._'-   ,          _ _'   -" \  .     `
`."""""'-.`-...,---------','         `. `....__.
.'        `"-..___      __,'\          \  \     \
\_ .          |   `""""'    `.           . \     \
  `.          |              `.          |  .     L
    `.        |`--...________.'.        j   |     |
      `._    .'      |          `.     .|   ,     |
         `--,\       .            `7""' |  ,      |
            ` `      `            /     |  |      |    _,-'"""`-.
             \ `.     .          /      |  '      |  ,'          `.
              \  v.__  .        '       .   \    /| /              \
               \/    `""\"""""""`.       \   \  /.''                |
                `        .        `._ ___,j.  `/ .-       ,---.     |
                ,`-.      \         ."     `.  |/        j     `    |
               /    `.     \       /         \ /         |     /    j
              |       `-.   7-.._ .          |"          '         /
              |          `./_    `|          |            .     _,'
              `.           / `----|          |-............`---'
                \          \      |          |
               ,'           )     `.         |
                7____,,..--'      /          |
                                  `---.__,--.'
*/
.football{
  border: 2px solid lightgrey;
  padding: 10px;
  width: 85%;
}
.football1{
  border: 2px solid lightgrey;
  padding: 10px;
  width: 55%;
}
@media only screen
and (max-device-width : 480px) {
  .con{box-shadow: 0px 2px 16px 0px rgba(204,204,204,0);}
  .H-top1{
    text-align: center;
    font-size: 22vw;
  }
  .H-g{
    font-size:25vw;
  }
  .H-top2{
    font-size: 10vw;
  }
  .topic{
    font-size: 12vw;
    color: #323142;
  }
  .foot-l{
    transform: scale(0.8);
  }
}
@media only screen
and (min-device-width : 481px)
and (max-device-width : 980px) {
  .con{box-shadow: 0px 2px 16px 0px rgba(204,204,204,0);}
  .H-top1{
    text-align: center;
    font-size: 20vw;
  }
  .H-g{
    font-size:22vw;
  }
  .H-top2{
    font-size: 8vw;
  }
  .topic{
    font-size: 11vw;
    color: #323142;
  }
  .foot-l{
    transform: scale(0.8);
  }
}
.birk{
  width: 75%;
}
.shoes{
  padding: 10px;
  width: 70%;
}
.jacket{
  padding:10px;
  width: 50%;
}
.UK{
  border: 2px solid lightgrey;
  width: 45%;
  padding:10px;
}
.US{
  border: 2px solid lightgrey;
  width: 35%;
  padding: 10px;
}
.boldy{
  color: white;
  background-color:#f7281d;
}
.btn-only{
  color: white !important;
  transform: scale(0.7);
}
.btn-large{
  background-color: #ff1744 !important;
}
.b-one{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
}
.b-two{
  background-color: black !important;
}
.b-two{
  background-color:	#3b5998 !important;
}
.b-three{
  background-color: #f94c36 !important;
}
.b-four{
  background-color: #00aced !important;
}
.b-five{
  background-color: #4875B4 !important;
}
.btn-yo > .fab, .far{
  transform: scale(0.7);
}
#I1{
  transform: scale(0.7);
}
#G1{
  transform: scale(0.7);
}
#L1{
  transform: scale(0.7);
}
#F1{
  transform: scale(0.7);
}
#T1{
  transform: scale(0.7);
}

.f-icons{
  color: white;
  text-align: center;
}
.f-copyright{
  color: white !important;
}
.f-copyright:hover{
  color: #dbdbdb !important;
  text-decoration: none;
}
.f-icons i{
  padding: 0 0.3em;
}
.foot-l{
  color: white;
}
.foot-l:hover{
  text-decoration: none;
  transform: scale(1.05);
}
.p-event{
  width: 100%;
  padding: 20px 0;
}
.me{
  width: 45%;
  padding: 20px;
}
.p-weather{
  width: 45%;
  padding: 20px;
}
.btn-blog{
  background-color: #f74265 !important;
  box-shadow: 0px 2px 16px 0px rgba(204,204,204,1) !important;
}
.btn-blog:hover{
  box-shadow: 0px 5px 10px 0px rgba(204,204,204,1) !important;
}
